@import 'tailwindcss';
@plugin "../node_modules/daisyui/index.js" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: 'mytheme';
  default: true; 
  prefersdark: false; 
  color-scheme: light;

  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: rgb(40,19,138); /* buttons */
  --color-primary-content: rgb(3,7,18); /* dashboard background */
  --color-secondary: rgb(194,197,209); /* buttons' texts */
  --color-secondary-content: rgb(12,14,24); /* background for secondary */
  --color-accent: rgb(238,13,223); /* accent purple */
  --color-accent-content: rgb(35,23,31); /* background for accent purple */
  --color-neutral: rgb(29,32,42); /* avatar dropdown menu background when hovering */
  --color-neutral-content: rgb(69, 69, 69);
  --color-info: rgb(8,152,94); /* green */
  --color-info-content: rgb(235,249,238); /* background for green */
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: rgb(205,31,97); /* color for error text on form fields */
  --color-error-content: rgb(4, 1, 20);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-neutral);
}